/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS Reset end here*/

/*Material Pallete*/

.dark-primary-color    { background: #001f31; }
.default-primary-color { background: #9E9E9E; }
.dark-primary-text-color { color: #001f31; }
.light-primary-color   { background: #FAFAFA; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #ff8204; }
.text-accent-color, .input-container input:disabled ~ label, .input-container input:focus ~ label, .input-container input:valid ~ label		 { color: #ff8204; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { background: #bfbfbf; }

/*Material Pallete end here*/
*{
	transition: all 200ms ease-in-out;
}
body{
	background-color: #FAFAFA;
	font-family: "Montserrat";
}
input[type="text"]{
	border: none;
	border-bottom: 1px solid #9E9E9E;
	box-sizing: border-box;
	background-color: unset;
	font-family: "Montserrat";
	font-size: 15px;
	height: 30px;
	outline: none;

}
html, body, .main-container{
	height: 100%;
}
.main-container{
	display: flex;
}
.side-menu{
	height: 100%;
	position: fixed;
	width: 320px;
	z-index: 2;
}
.side-menu .item span{
	color: #FAFAFA
}
.main-content{
	height: 100%;
	margin-left: 320px;
	width: 100%;
}
.box-group{
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	padding: 20px;
}
.box-group .item{
	box-sizing: border-box;
	display: none;
  max-width: 800px;
	padding: 30px;
  width: 100%;
}
.box-group .item--active{
	display: block;
}
.divider{
	height: 1px;
	margin: 20px 0;
	width: 100%;
}
.form-options{
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}
.button{
	align-self: center;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 14px;
	font-weight: bold;
	justify-content: center;
	margin-right: 10px;
	padding: 10px 6px;
	user-select: none;
}
.button:hover{
	opacity: 0.8;
}
.button:active{
	opacity: 0.6;
}
.input-container{
	align-items: center;
	display: inline-flex;
	justify-content: center;
	position: relative;
}
.input-container label{
	bottom: 25%;
	color: #9E9E9E;
	font-size: 15px;
	left: 0;
	position: absolute;
	transition: all 200ms ease-in-out;
}
.input-container input:disabled ~ label, .input-container input:focus ~ label, .input-container input:valid ~ label{
	bottom: 100%;
	font-size: 12px;
	transition: all 200ms ease-in-out;
}
.input-container input:disabled ~ label{
	color: #bfbfbf;
}
.input-container input:disabled{
	background-color: #f5f5f5;
	color: #bfbfbf;
}
.input-underline{
	bottom: 0;
	left: 0;
	height: 2px;
	position: absolute;
	width: 0;
}
input:disabled ~ .input-underline, input:focus ~ .input-underline, input:valid ~ .input-underline{
	width: 100%;
}
.box-title{
	display: block;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}
.tip-box i{
	color: #91b5ca;
	font-size: 18px;
	margin-right: 10px;
}
.tip-box{
	align-items: center;	
	border: 1px solid;
	border-radius: 2px;	
	box-sizing: border-box;
	display: flex;
	font-size: 13px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}
.tip-box--info{
	background-color: #dcf2ff;
	border-color: #91b5ca;
	color: #91b5ca;
}
.radio-container input{
	display: none;
}
.radio-container label{
		border-radius: 2px;
		cursor: pointer;
		border: 1px solid #bfbfbf;
		color: #bfbfbf;
		font-size: 13px;
		display: inline-flex;
		margin-right: 5px;
		padding: 7px;
}
.radio-container input:checked + label{
	background: #bfbfbf;
  color: #fafafa;
}
.group-title{
	display: block;
	font-size: 15px;
	margin: 10px 0;
	width: 100%;
}